@model _23DH114270_MyStore.Models.Product

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutADM.cshtml";
}

<h2 class="text-center my-4">CHI TIẾT SẢN PHẨM</h2>

<div class="container">
    <hr />
    <h4 class="text-center">Thông tin sản phẩm</h4>
    <dl class="row">
        <dt class="col-sm-3">Tên sản phẩm</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductName)</dd>

        <dt class="col-sm-3">Mô tả</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductDescription)</dd>

        <dt class="col-sm-3">Giá tiền</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProductPrice) đ</dd>

        <dt class="col-sm-3">Hình ảnh</dt>
        <dd class="col-sm-9 text-lg-start">
            <img src="@Html.DisplayFor(model => model.ProductImage)" class="img-fluid rounded" style="max-height: 300px; max-width: 300px;" alt="Hình ảnh sản phẩm" />
        </dd>

        <dt class="col-sm-3">Thể loại</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Category.CategoryName)</dd>
    </dl>
</div>

<div class="text-center mt-3">
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary mx-2" }) |
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary mx-2" })
</div>
