@model _23DH114270_MyStore.Models.Customer

@{
    ViewBag.Title = "Thông tin người dùng";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<h2>Thông tin người dùng</h2>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên người dùng</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Mật khẩu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => Model.CustomerName)</td>
                <td>@Html.DisplayFor(model => Model.CustomerPhone)</td>
                <td>@Html.DisplayFor(model => Model.CustomerEmail)</td>
                <td>@Html.DisplayFor(model => Model.CustomerAddress)</td>
                <td>@Html.DisplayFor(model => Model.User.Password)</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Không có thông tin người dùng.</p>
}