@model _23DH114270_MyStore.Models.Product
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<head>
    <style>
        img {
            height: 150px;
            width: 150px;
            display: block;
            margin-block-start;
           
        }

        .dl-horizontal dt {
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-bottom: 20px;
        }
    </style>
</head>
<h2 class="text-center my-4">Chi Tiết Sản Phẩm</h2>

<div class="container">
    <h4 class="mb-4">Thông tin sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên Sách</dt>
        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

        <dt>Mô Tả</dt>
        <dd>@Html.DisplayFor(model => model.ProductDescription)</dd>

        <dt>Giá Tiền</dt>
        <dd>@Html.DisplayFor(model => model.ProductPrice) đ</dd>

        <dt>Hình Ảnh</dt>
        <dd><img src="@Html.DisplayFor(model => model.ProductImage)" alt="Hình ảnh sản phẩm" /></dd>

        <dt>Thể Loại</dt>
        <dd>@Html.DisplayFor(model => model.Category.CategoryName)</dd>
    </dl>
    <div class="text-center mt-4">
        @Html.ActionLink("Quay lại", "SanPham", null, new { @class = "btn btn-primary" })
    </div>
</div>
